.card {
  cursor: pointer;
  padding: 20px;
  width: 250px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  margin-right: 30px;
  position: relative;
  transition: box-shadow 0.2s ease-in-out;
  transform: box-shadow 0.2s ease-in-out;
  margin-bottom: 30px;

  .addButton {
    .iconDefault {
      display: block;
    }

    .iconActive {
      display: none;
    }

    &:focus {
      .iconDefault {
        display: none;
      }
      .iconActive {
        display: block;
      }
    }
  }

  &:hover {
    box-shadow: 0px 20px 30px 0px #0000000d;
    // transform: translateY(-5px);
  }

  .cardLike {
    position: absolute;
  }

  .cardTitle {
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
  }

  .cardPrice {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
}
