.wrapper {
  margin: 0px auto;
  position: relative;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .cartEmpty {
    text-align: center;
    span {
      width: 280px;
      line-height: 24px;
    }
    Button {
      margin-top: 20px;

      &:hover {
        img {
          transform: rotate(360deg) translateX(-3px);
        }
      }

      img {
        position: relative;
        top: 1px;
        transform: rotate(360deg);
        margin-right: 15px;
        transition: transform 0.15s ease-in-out;
      }
    }
  }

  Text {
    margin: 0;
  }

  .items {
    padding-right: 30px;
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }
}

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;

      div {
        flex: 1;
        height: 1;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: 0 10px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  .cartItemPrice {
    font-size: 12px;
  }
}

.removeBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.15 ease-in-out;

  &:hover {
    opacity: 1;
  }
}
