* {
  margin: 0;
  font-family: 'Inter', system-ui !important;
}

.topHeader {
  height: 30px;
  background-color: #000;
  color: #fff;
}

header {
  border-bottom: 1px solid #eaeaea;

  Button {
    &:hover {
      img {
        transform: rotate(360deg) translateX(-2px);
      }
    }

    img {
      position: relative;
      top: 0px;
      transform: rotate(360deg);
      transition: transform 0.15s ease-in-out;
    }
  }
  img {
    margin-right: 5px;
  }
  .logo {
    font-weight: 700;
    cursor: pointer;
  }
  .logoSlogan {
    color: #9d9d9d;
  }

  .cart {
    position: relative;
  }

  li {
    cursor: pointer;
  }

  .cartBadge {
    background-color: #edf2f7;
    top: 0;
    right: 0;
    margin-right: 2px;
    border-radius: 10px;
    font-size: 10px;
    position: absolute;
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 1.5px 0px 1.5px 15px;
  position: relative;

  .closeSearch {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  Input {
    border: none;
    font-size: 13px;

    &::placeholder {
      font-size: 13px;
      color: #000;
      opacity: 0.4;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.menuButton {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.menuList {
  .menuItem {
    font-weight: 500;
    &:hover {
      background-color: #000 !important;
      color: #fff;
    }
  }
}
